section > article
{
	color: red;
	font-size: 20px;
}
section li
{
	color: brown;
}
h1
{
	color: yellow;
	font-size: 30px;
	text-align: center;
}
img
{
	display: block;
  	margin-left: auto;
 	margin-right: auto;  	
}
footer
{
	text-align: center;
	background-color: blue;
}
#seccion1, .mercado
{	
	background-color: orange;
}
