body
{	
	background-image: url(img/Poseidon.gif);
	background-repeat: no-repeat;
	background-size: 100% 100%;
    margin:0;
}
section > article
{
	color: red;
	font-size: 20px;
}
section li
{
	color: brown;
}
h1
{
	color: yellow;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
}
img
{
	display: block;
  	margin-left: auto;
 	margin-right: auto;  	
}
footer
{
	text-align: center;
	background-color: blue;
}
.mercado
{	
	background-color: orange;
}
a:link,a:visited
{
	text-decoration: none;
	background-color: green;
	border; 1px solid blue;
	color: lightblue;
	display: block;
	text-align: center;
	margin-bottom: 1px;
}
a:hover,a:active
{
	background-color: red;
	color: purple;
}
#seccion2 li:nth-child(3)
{
	font-size: 15px;
}
#seccion1 li:nth-child(even)
{
	background-color: gray;
	cursor: pointer;
}
#box
{	
	background-color: black; 
	padding: 10px 10px 10px 10px;
	border: 5px solid gold;
	margin: 40px;
	width: 300px;
}
#content
{
	background-color: red;	
}
