body
{
  padding: 10px;
  font-family: sans-serif;
}
.thumbnail
{
	min-height:400px;
	max-height:400px;
	border: 2px solid black;  
}
.js-imagen
{
	max-height: 200px;	
}
.imagen-sola
{
	max-width: 100%
}