* 
{
	box-sizing: border-box;
}
body
{
	margin: 0;
	background-color: #3399ff;
	color: yellow;	
	font-family: sans-serif;	
}
#logo
{
	max-width: 10%;
	max-height: 10%;			
}
.topnav
{
  background-color: red;
  overflow: hidden;
  display: block;  
}
.topnav a:hover
 {
  background-color: green;  
}
.menu-derecha
{
	float: right;
	color: yellow;
  	text-align: center;
  	padding: 12px;
  	text-decoration: none;
  	font-size: 18px; 
  	line-height: 25px;
  	border-radius: 4px;  	
}
#imagenportada
{
	max-width:100%;
	height:auto;
	display: block;
  	margin-left: auto;
  	margin-right: auto;
}
#enlacesPrincipales
{
	position:relative;
	margin-top: 5%;	
}
.contenedor
{	
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
  	-ms-transform: translate(-50%, -50%);
  	transform: translate(-50%, -50%);  	
}
.enlaceimagen
{	
	max-width: 25%;
	max-height: auto;	
	padding: 15px;	  	
}
#piepagina
{
	position:relative;	
	margin-top:10%;
}
#myfooter
{		
  	display: flex;  	
	justify-content: center;
	align-items: center;	
	border: 3px solid green;		
}
#left
{
	text-align:left;
	float:left;
	padding-right:30%;
		
}
#center
{
	text-align:center;		
}
#right
{
	text-align:right;
	float:right;	
	padding-left:30%;
}

@media screen and (max-width: 500px) {
  .topnav a {
    float: none;
    display: block;
    text-align: left;
  }
  
  .menu-derecha {
    float: none;
  }
}